# === RAHASIA & KONFIGURASI SENSITIF ===
.env
.env.local
.env.production
config/*.secret

# === DEPENDENSI ===
node_modules/
venv/
__pycache__/
*.pyc

# === HASIL BUILD ===
dist/
build/
.next/

# === FILE SISTEM OPERASI ===
.DS_Store
Thumbs.db
desktop.ini

# === EDITOR ===
.vscode/
.idea/
*.swp
